.container {
  max-width: 75%;
  padding: 10px;
  font-size: 15px;
  background-color: #e0e0e2;
  height: auto;
  word-break: break-all;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

.me-talking {
  border-bottom-right-radius: 0 !important;
}

.others-talking {
  border-bottom-left-radius: 0 !important;
}

.response {
  background-image: linear-gradient(141deg, #b5bad0 44%, #7389ae 95%);
}

.spacing {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.to-right {
  display: flex;
  justify-content: flex-end;
}

.to-left {
  display: flex;
  justify-content: flex-start;
}
