@import '../../style.global.variables.scss';

.container {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  display: block;
  background-color: #fafafa;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.container::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-image: $theme-color;
}

.content-reverse {
  display: flex;
  flex-flow: column-reverse;
}
