.input-container {
  padding: 5px;
  padding-right: 43px;
  width: 100%;
  margin: 5px;
  border-radius: 50px;
  border: none;
  outline: none;
}

.arrow {
  cursor: pointer;
  width: 0px;
  height: 0;
  border-left: 30px solid #7389ae;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  z-index: 10;
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
}
