:global {
  .d-flex {
    display: flex;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-1 {
    flex: 1;
  }

  .m-5 {
    margin: 5px;
  }

  body {
    font-family: monospace, monospace;
  }
}
