.container {
  height: 55px;
  background: linear-gradient(180deg, #7389ae 50%, #fafafa 50%);
  align-items: center;
  padding: 10px;
}

.user-info {
  flex-direction: column;
  margin-left: 8px;
  height: 100%;
}

.clean-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-title {
  font-size: 23px;
  color: #fafafa;
}

.user-status {
  font-size: 15px;
}
